.container {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  widht: 25%;
  height: 25%;
  display: none
}

.container h2 {
  font-size: 3rem;
}

.container a {
  font-size: 1.4rem;
}

.grid {
  display: grid;
  width: 100vw;

  height: 100vh;
  grid-template-areas: "leftPanel firstBlock secondBlock"
                       "leftPanel firstBlock secondBlock"
                       "leftPanel thirdBlock fourthBlock"
                       "leftPanel thirdBlock fourthBlock";

  grid-template-columns: 50px 1fr 1fr;
  grid-template-rows: [top] 50% [half] 50% [bottom];

}

.leftPanel {
  background: #1a191a;
  grid-area: leftPanel;
}

.firstBlock {
  background: #0B0A0B;
  grid-area: firstBlock;
  grid-row-start: 1;
  grid-row-end:  2;
}

.secondBlock {
  background: #0B0A0B;
  grid-area: secondBlock;
  grid-row-start: 1;
  grid-row-end:  2
}

.thirdBlock {
  background: #0B0A0B;
  grid-area: thirdBlock;
  grid-row-start: 2;
  grid-row-end:  3
}

.fourthBlock {
  background: #0B0A0B;
  grid-area: fourthBlock;
  grid-row-start: 2;
  grid-row-end: 3;
}

.logo {
  width: 100px;
  height: 100px;
  background: black;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% );
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-transform: uppercase;
  color: #0def0d;
  text-shadow: 0 -5px 0px rgb(0, 0, 0), 0 -6px 0px rgba(33, 175, 23, 0.38);
  border-top: 1px solid #0def0d;
  border-right: 1px solid #0def0d;
  box-shadow: -4px 7px 12px 0px rgba(13, 239, 13, 0.5);
}

